root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 160
tab_width = 4
trim_trailing_whitespace = true

[*.css]
indent_style = space

[*.sass]
indent_size = 2
indent_style = space

[*.scss]
indent_size = 2
indent_style = space

[*.twig]
indent_style = space

[{*.ats,*.cts,*.mts,*.ts}]
indent_style = space

[{*.bash,*.sh,*.zsh}]
indent_size = 2
indent_style = space
tab_width = 2

[{*.cjs,*.js}]
indent_style = space

[{*.ctp,*.hphp,*.inc,*.module,*.php,*.php4,*.php5,*.phtml}]
indent_style = space

[{*.har,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.stylelintrc,bowerrc,composer.lock,jest.config}]
indent_size = 2
indent_style = space

[{*.htm,*.html,*.ng,*.sht,*.shtm,*.shtml}]
indent_style = space

[{*.markdown,*.md}]
indent_style = space

[{*.vue,connexion-restaurer-mdp.vue}]
indent_size = 4
indent_style = space
tab_width = 4
